USE [master]
GO
/****** Object:  Database [bt4_tkb]    Script Date: 15-Apr-25 10:53:26 PM ******/
CREATE DATABASE [bt4_tkb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bt4_tkb', FILENAME = N'D:\MS SQL2022 DATABASE\bt 4 15-4-2025\bt4_tkb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bt4_tkb_log', FILENAME = N'D:\MS SQL2022 DATABASE\bt 4 15-4-2025\bt4_tkb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bt4_tkb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bt4_tkb]
GO
/****** Object:  Table [dbo].[gv]    Script Date: 15-Apr-25 10:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gv](
	[magv] [nchar](10) NOT NULL,
	[tengv] [nvarchar](50) NULL,
 CONSTRAINT [PK_gv] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 15-Apr-25 10:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[tenlop] [nchar](10) NOT NULL,
 CONSTRAINT [PK_lop] PRIMARY KEY CLUSTERED 
(
	[tenlop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 15-Apr-25 10:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamon] [nchar](10) NOT NULL,
	[tenmon] [nvarchar](50) NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong]    Script Date: 15-Apr-25 10:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong](
	[tenphong] [nchar](10) NOT NULL,
 CONSTRAINT [PK_phong] PRIMARY KEY CLUSTERED 
(
	[tenphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tkb]    Script Date: 15-Apr-25 10:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkb](
	[magv] [nchar](10) NULL,
	[malop] [nchar](10) NULL,
	[mamon] [nchar](10) NULL,
	[maphong] [nchar](10) NULL,
	[tietbd] [int] NULL,
	[sotiet] [int] NULL,
	[giovao] [time](7) NULL,
	[giora] [time](7) NULL,
	[ngay] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_gv] FOREIGN KEY([magv])
REFERENCES [dbo].[gv] ([magv])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_gv]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([tenlop])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_lop]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_monhoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[monhoc] ([mamon])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_monhoc]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK_tkb_phong] FOREIGN KEY([maphong])
REFERENCES [dbo].[phong] ([tenphong])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK_tkb_phong]
GO
USE [master]
GO
